:root {
    --foreground:     #463f3f;
    --background:     #2e2524;
    --foregroundtext: #e2e1e1;
    --backgroundtext: #aeacac;
    --navbar:         #3e3939;
}

a {
    color: var(--foregroundtext);
    transition:color .35s;
    text-decoration: none
}

a:hover{
    color: var(--backgroundtext);
}

body {
    background-color: var(--background);
    color: var(--foregroundtext);
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

header, footer {
    background-color: var(--navbar);
}

table {
    margin: 0 auto;
}

td {
    padding: 5px;
}

th {
    text-align: center;
    font-size: 2em;
    padding: 1em;
}

#app-logo {
    border-radius: 20%;
    display: block;
    height:10rem;
    margin: 1em auto;
    width: 10rem;
}

#content {
    padding: 0 3rem;
}

#logo {
    width:15rem;
    margin: auto 2rem;
}

#portrait {
    border-radius: 20%;
    display: block;
    height:15rem;
    margin: 2em auto;
    width: 15rem;
}

.accordion {
}

.accordion-collapse {
    background-color: var(--foreground);
    /* border-radius: 5px; */
}

.accordion-item {
    border: none;
    background-color: transparent;
}

.btn, .btn:hover, .btn:focus {
    color: var(--foregroundtext);
    background-color: var(--foreground);
    text-align: center;
}

.button {
    /* border-radius: 2%; */
    height: 35px;
    width: 49%;
}

.caption {
    background-color: transparent;
    color: var(--backgroundtext);
}

.card {
    background-color: var(--foreground);
    border: 0;
    color: var(--foregroundtext);
    /* border-radius: 10px; */
}

.card-header{
    background-color: transparent;
    border: 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.card-body{
    background-color: transparent;
    border: 0;
    text-align: center;
}
.card-footer{
    background-color: transparent;
    border: 0;
    text-align: center;
}

.nav-link {
    color: var(--backgroundtext);
}

.nav-link:hover {
    color: var(--foregroundtext);
}

.progress-bar {
}

.progress-bar-striped {
}

.social-body {
}