:root {
    --background:  #282a36;
    --currentline: #44475a;
    --selection:   #44475a;
    --foreground:  #f8f8f2;
    --comment:     #6272a4;
    --cyan:        #8be9fd;
    --green:       #50fa7b;
    --orange:      #ffb86c;
    --pink:        #ff79c6;
    --purple:      #bd93f9;
    --red:         #ff5555;
    --yellow:      #f1fa8c;
}

a {
    color: var(--purple);
    transition:color .35s;
    text-decoration:none
}

a:hover{
    color: var(--foreground);
}

body {
    background-color: var(--currentline);
    color: var(--foreground);
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

table {
    margin: 0 auto;
}

td {
    background-color: var(--background);
    padding: 5px;
}

th {
    text-align: center;
    font-size: 2em;
    padding: 1em;
}

.button {
    border: 1px solid var(--background);
    border-radius: 2%;
    color: var(--foreground);
    height: 35px;
    width: 49%;
}

#content {
    padding: 0 3rem;
}

#logo {
    width:15rem;
    margin: auto 2rem;
}

#portrait {
    border:.5rem solid var(--green);
    border-radius: 20%;
    display: block;
    height:15rem;
    margin: 2em auto;
    width: 15rem;
}

.card-header{
    background-color: var(--selection);
    border: 0px solid var(--purple);
    color: var(--foreground);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.card-body{
    background-color: var(--selection);
    border: 0px solid var(--purple);
    color: var(--foreground);
    text-align: center;
}
.card-footer{
    background-color: var(--selection);
    border: 0px solid var(--purple);
    color: var(--foreground);
    text-align: center;
}

.progress-bar {
    background-color: var(--selection);
}

.progress-bar-striped {
    background-color: var(--purple);
}

.accordion-collapse {
    background-color: var(--background);
}

.accordion-item {
    border: none;
    background-color: transparent;
}

.btn, .btn:hover {
    border: 0px solid var(--background);
    color: var(--foreground);
    background-color: var(--background);
    text-align: center;
}
