:root {
  --background: #4F5D75;
  --foreground: #2D3142;
  --primary: #FFFFFF;
  --secondary: #BFC0C0;
  --alt: #EF8354;
}

a {
  color: var(--primary);
  transition: color .35s;
}

.secondary,
a:hover,
.btn-secondary,
.dropdown-item:hover,
.nav-link:hover {
  color: var(--secondary);
}

body {
  background-color: var(--background);
  color: var(--primary);
}

header,
footer,
.dropdown-menu {
  background-color: var(--foreground);
}

footer {
  position: absolute;
  bottom: 0;
}

#app-logo {
  border-radius: 20%;
  display: block;
  height: 10rem;
  margin: 2em auto;
  width: 10rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logo {
  width: 15rem;
  margin: auto 2rem;
}

#portrait {
  border-radius: 50%;
  display: block;
  height: 15rem;
  margin: 2em auto;
  width: 15rem;
}

.card {
  background-color: transparent;
  border: 0;
}

.nav-link,
.icon {
  color: var(--primary);
}

.dropdown-item {
  background-color: var(--foreground);
  color: var(--primary);
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--foreground);
}

.btn,
.btn:focus {
  border: none;
  text-align: center;
}

.btn-primary {
  background-color: var(--alt);
  border: 3px solid var(--alt);
  color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--background);
  border: 3px solid var(--background);
  color: var(--primary);
}

.btn-secondary {
  background-color: var(--background);
  border: 3px solid var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
  color: var(--background);
}

.box {
  background-color: var(--foreground);
  border-radius: 10px;
}