:root {
  --navbar:         #2D3142;
  --background:     #4F5D75;
  --foreground:     #2D3142;
  --primaryText:    #FFFFFF;
  --secondaryText:  #BFC0C0;
  --altText:        #EF8354;
}

a {
  color: var(--primaryText);
  transition:color .35s;
  text-decoration: none
}

a:hover{
  color: var(--secondaryText);
}

body {
  background-color: var(--background);
  color: var(--primaryText);
}

header, footer {
  background-color: var(--navbar);
}

footer {
  position: absolute;
  bottom: 0;
}

table {
  margin: 0 auto;
}

td {
  padding: 5px;
}

th {
  text-align: center;
  font-size: 2em;
  padding: 1em;
}

#app-logo {
  border-radius: 20%;
  display: block;
  height:10rem;
  margin: 1em auto;
  width: 10rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logo {
  width:15rem;
  margin: auto 2rem;
}

#portrait {
  border-radius: 20%;
  display: block;
  height:15rem;
  margin: 2em auto;
  width: 15rem;
}

.caption {
  background-color: transparent;
  color: var(--secondaryText);
}

.card {
  background-color: transparent;
  border: 0;
}

.nav-link {
  color: var(--primaryText);
}

.nav-link:hover {
  color: var(--secondaryText);
}

.icon {
  color: var(--primaryText);
}

.dropdown-menu {
  background-color: var(--navbar);
}

.dropdown-item {
  background-color: var(--navbar);
  color: var(--primaryText);
  text-align: center;
}

.dropdown-item:hover {
  background-color: var(--navbar);
  color: var(--secondaryText);
}

.btn, .btn:focus {
  border: none;
  text-align: center;
}

.btn-primary {
  background-color: var(--altText);
  border: 3px solid var(--altText);
  color: var(--primaryText);
}

.btn-primary:hover {
  background-color: var(--background);
  border: 3px solid var(--background);
  color: var(--primaryText);
}

.btn-secondary {
  background-color: var(--background);
  border: 3px solid var(--secondaryText);
  color: var(--secondaryText);
}

.btn-secondary:hover {
  background-color: var(--secondaryText);
  border: 3px solid var(--secondaryText);
  color: var(--background);
}

.button {
  height: 35px;
  width: 49%;
}

.navbar-brand {
  color: var(--primaryText);
}

.box {
  background-color: var(--foreground);
  border-radius: 10px;
}